* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100vh;
}


nav {
    background-color: seagreen;
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template: 1fr 5fr 5fr / 1fr
}

nav div {
    display: grid;
}


/* adding temporary borders to make the sections */
div { 
    border: 1px solid lemonchiffon;
}


header {
    background-color: slateblue;
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 1fr;
}


main {
    background-color: teal;
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
}

main .one {
    grid-area: 1 / 1 / 3 / 2;
}

main .one div {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

main .two div, main .three div {
    display: grid;
    height: 100%;
}

.search-bar {
    display: grid;
    grid-template: 1fr / 5% 1fr;
}

.user-login {
    grid-template: 1fr / 1fr 1fr 2fr;
}

input {
    background-color: gray;
    border-radius: 5%;
    border: none;
    height: 50px;
}